body{
    background-color: #f7f7f7;
    font-family: JetBrains Mono, monospace;
    margin: 0px;
    padding: 20px;
}
.container{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.box{
    flex: 1;
    padding: 20px;
    background-color: aqua;
    border-radius: 6px;
}